body {
  margin: 0;
  font-family: sans-serif;
}
h3 {
  margin: 0;
}
.container {
  min-height: 100vh;
  background-color: rgb(243, 243, 243);
  max-width: 1020px;
  padding: 30px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(4, 1fr); */
  gap: 30px;
  align-content: flex-start;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 12px;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 15px aliceblue, 0 0 5px #0008;
  position: relative;
}
.card .pic {
  height: 300px;
  background-color: azure;
  width: 100%;
  background-image: url("https://i.yapx.ru/V1QA9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.card .default {
  background-image: url(/img/404.png);
  background-size: contain;
}
.card__like {
  position: absolute;
  bottom: 5px;
  right: 6px;
  color: rgba(247, 30, 215, 0.815);
  cursor: pointer;
  font-size: 35px;
}

/* .pic::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #2f000060;
}
 */
